<!-- CARGA DE PRODUCTOS -->
<section id="modificarProductos" style="height: 100vh;">
  <div class="container pt-5">
    <form class="bg-light p-5 rounded">
        <legend>Crear producto</legend>
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
          <label class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
          <label class="form-label">Url ficha tecnica</label>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
          <label class="form-label">Url imagen</label>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
