    <!-- FOOTER -->
  <section id="footer">
    <div class="container">
      <footer class="py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="https://wa.me/+541123191770?text=Hola,+estoy+interesado+en+uno+de+sus+productos." class="nav-link px-2 text-white" target="_blank"><i class="bi bi-whatsapp icon"></i></a></li>
          <li class="nav-item"><a href="https://www.facebook.com/" class="nav-link px-2 text-white" target="_blank"><i class="bi bi-facebook"></i></a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
      </footer>
    </div>
</section>
