    <!-- inicio -->
    <section class="container-fluid" id="inicio">
      <div class="container-fluid cover-container h-100">
        <div class="row h-100 d-flex justify-content-center align-items-center">
          <div class="text-center animate__animated animate__fadeIn">
            <h1 class="content" style="font-size: calc(1.8rem + 1.5vw);">C O M P A S S O</h1>
            <p class="lead content">Construyendo un futuro resistente: resistencias industriales de la mejor calidad. La resistencia ideal para su negocio, nuestra prioridad.</p>
              <a href="#productos"> <button  type="button" class="btn btn-primary">Ver productos</button> </a>
          </div>
        </div>
      </div>
  </section>
