    <!-- CONTACTO -->
    <section id="contacto">
      <a href="./contacto.html">
        <div class="hero">
          <div class="hero__overlay">
            <div class="hero__title text-center text-white">Contactanos</div>
            <div class="hero__subtitle text-center text-white">Para mejorar la calidad y la eficiencia de los equipos y aumentar la productividad de su negocio</div>
          </div>
          <div class="cube"></div>
          <div class="cube"></div>
          <div class="cube"></div>
          <div class="cube"></div>
          <div class="cube"></div>
          <div class="cube"></div>
          <div class="cube"></div>
        </div>
      </a>
    </section>
