
<div class="center-content text-center">
  <main class="form-signin w-100 h-100 m-auto">
    <form>
      <img class="mb-2" src="../../assets/images/LOGOPH.png" alt="" width="300" height="130">
      <h1 class="h3 mb-3 fw-normal">Ingrese los datos:</h1>

      <div class="form-floating">
        <input type="usuario" class="form-control" id="floatingInput" placeholder="Usuario">
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating my-2">
        <input type="password" class="form-control" id="floatingInput" placeholder="Contraseña">
        <label for="floatingInput">Contraseña</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Iniciar sesion</button>
      <a [routerLink]="['/']" >Volver al inicio</a>
    </form>
  </main>
</div>

