    <!-- info -->
    <section id="info" class="bg-grey">
      <div class="container py-5">
          <div class="row py-5">

            <div class="col-12 col-lg-5 order-lg-1">
              <img class="rounded" src="https://thumbs.dreamstime.com/z/imagem-de-fundo-bonita-do-c%C3%A9u-da-natureza-64743176.jpg" alt="" style="width: 100%;">
            </div>

            <div class="col-12 col-lg-7 order-lg-0 mt-4 mt-lg-0" >
              <div class="d-flex justify-items-center align-items-center text-center h-100" >
                <div class="row px-5">
                  <div class="col-12">
                    <h1 class="text-white tag">Tecnología de última generación para resistencias industriales</h1>
                  </div>
                  <div class="col-12">
                    <p class="text-white tag">¡Maximice la eficiencia de su industria con resistencias industriales de última generación! En nuestra fabrica de resistencias industriales ofrecemos una amplia gama de productos para satisfacer las necesidades de sus proyectos. Desde resistencias de precisión hasta resistencias para uso general, ofrecemos resistencias que cumplen con los estándares de calidad más altos del mercado. Nuestra tecnología de última generación permite resistencias de bajos costos, alta eficiencia y durabilidad a largo plazo. ¡Conozca nuestros productos hoy y descubra la diferencia!</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
  </section>
